<html>
    
<head>
    <title>CPU</title>
    <h1>On This Page You Will Learn About The CPU</h1>
    </head>

    <body>
        <h5> The CPU, or Central Processing Unit, is the main computing device. </h5>
        <h5>The CPU three main functions are to fetch, decode and execute</h5>
        <h5>It processes all these commands once it is executed from an application </h5>
        <h5>The CPU is to be placed within the CPU socket on the Motherboard</h5>
        <h5>Placing the CPU inside one must be catious with the socket pins and CPU pins</h5>
        <h5>If one of those pins are bent the CPU may not function</h5>
        <img src= "https://cdn.mos.cms.futurecdn.net/JV6zY68wrNBvQHCxWGvzkh.jpg">
    </body>
</html>