<html>
    <head>
        <title>PSU</title>
        <h1>On This Page You Will Learn About The PSU</h1>
    </head>

    <body>
        <h4>The PSU, or Power Supply Unit, is responsible for distrubiting power to all components of the computer</h4>
        <h4>PSUs are usually assembled as a box and have a fan that exhausts out the heat generated</h4>
        <h4>It comes with all the power cables to power on the motherboard, HDD/U.2 SSD, and GPU</h4>
        <h4>PSUs are usually placed on the bottom of the computer chasis and the cables are ran from the bottom to the top</h4>
        <img src= "https://ae01.alicdn.com/kf/H1af2b299dc0044ef8ac5f0f24b197ce7V/New-Miner-PSU-For-Baijin-Multi-Channel-Video-Card-Power-Supply-6-Card-Mute-Mining-Power.jpg_Q90.jpg_.webp">
    </body>
</html>