<html>
    <head>
        <title>RAM</title>
        <h1>On This Page You Will Learn About RAM</h1>
    </head>
    <body>
        <h4>RAM, or Random Access Memory, are memory sticks that are placed on the memory slots on a Motherboard</h4>
        <h4> Ram is responsible for handeling various different memory addresses from applications and memory stored inside a computer</h4>
        <h4> Each row handles various different addresses</h4>
        <h4>The memory addresses are saved within the rows however it is temporary</h4>
        <h4>Depending on the motherboard some may allow single chanel Ram or dual chanel meaning one stick or two sticks</h4>
        <h4>Also depending on the motherboard Ram can be oriented in slot 0 and 2 or slot 1 and 3</h4>
        <img src= "https://m.media-amazon.com/images/I/71EyddkUnwL._AC_SL1500_.jpg">
    </body>
</html>