<html>
    <head>
        <title>Learn PC Components</title>
        <h1>On This Page You Will Learn Various Different Components</h1>
    </head>

    <body>
        <h3>Learn About Motherboards Click The Link Down Below</h3>
        <a href="http://127.0.0.1:8000/component/motherboard">Motherboards</a>
        <h3>Learn About CPU Click The Link Down Below</h3>
        <a href="http://127.0.0.1:8000/component/cpu">CPU</a>
        <h3>Learn About CPU Heat Sync Click The Link Down Below</h3>
        <a href="http://127.0.0.1:8000/component/heatsync">CPU Heat Sync</a>
        <h3>Learn About RAM Click The Link Down Below</h3>
        <a href="http://127.0.0.1:8000/component/ram">RAM</a>
        <h3>Learn About Storage Drives Click The Link Down Below</h3>
        <a href="http://127.0.0.1:8000/component/drive">Storage Drives</a>
        <h3>Learn About GPU Click The Link Down Below</h3>
        <a href="http://127.0.0.1:8000/component/gpu">GPU</a>
        <h3>Learn About PSU Click The Link Down Below</h3>
        <a href="http://127.0.0.1:8000/component/psu">PSU</a>
    </body>
</html>