<html>
    <head>
        <title>Memory Drives</title>
        <h1>On This Page You Will Learn About Different Types Of Memory Drives</h1>
    </head>
    <body>
        <h4>Memory Drives are where users save their saved data</h4>
        <h4>Unlike RAM the memory saved on memory drives are not temporary</h4>
        <h4>Most commonly used memory drives in computers are Hard Disk Drives HDD and Solid State Drives SSD</h4>
        <h4>HDD use a spinning disk withhin it to process the stored data</h4>
        <h4>SSD use intergrated circuts within it to process the stored data</h4>
        <h4>SDD comes in two factors: M.2 and U.2</h4>
        <h4>U.2 is similar to the HDD the way it is connected</h4>
        <h4>Both require SATA power to be powered and SATA data cable to be plugged into the motherboard</h4>
        <h4>M.2 SSD looks similar to a RAM stick however it is plugged into the NVME slot of a motherboard</h4>
        <img src="https://m.media-amazon.com/images/I/61+D1lyvOPL._AC_SX425_.jpg">
        <img src="https://c1.neweggimages.com/ProductImage/20-147-804-V04.jpg">
        <img src="https://www.bhphotovideo.com/images/images2000x2000/sandisk_sdssdh3_500g_g25_ultra_3d_500gb_ssd_1346595.jpg">

    </body>
</html>