<html>
    <head>
        <title>GPU</title>
    <h1>On This Page You Will Learn About GPUs</h1>
    </head>
    <body>
        <h4>GPU, or Graphical Processing Unit, is responsible for computing graphics</h4>
        <h4>Some CPUs have GPUs built inside them so sometimes they are not required</h4>
        <h4>GPUs help create visual effects and handle graphical workloads</h4>
        <h4>Both CPUs and GPUs work together to handle the applications process as well as its visual aspects</h4>
        <h4>If a CPU does not have a GPU built inside a GPU adapter is needed and is plugged on the PCI slot of a Motherboard</h4>
        <img src= "https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2dyYXBoaWNzLWNhcmQtdXBkYXRlMS5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjgyOH19fQ==">
    </body>
</html>