<html>
    
<head>
        <title>Motherboards</title>
        <h1>On This Page You Will Learn About Motherboards</h1>
    </head>

    <body>
        <h5> A motherboard has various different names. Most notables are main board and main circut board.</h5> 
            <h5>Its functions allow communications between other hardware components.</h5> 
            <h5>The boards are designed specifically to function with specific components, so not all components will work.</h5>
            <h5>Motherboards are usually located on the left or right panel of a computer depending with its case.</h5>
            <h5>Motherboards are built with various components. Each component function are explained in the other links.</h5>
            <h5>Most notable components are:</h5>
            <h5>PCI slots</h5>
            <h5>CPU sockets</h5>
            <h5>3pin fan connectors</h5>
            <h5>4pin power connectors</h5>
            <h5>24pin ATX power connectors</h5>
            <h5>CPU socket</h5>
            <h5>Memory slots</h5>
            <h5>Jumpers</h5>
            <h5>1394 Connectors</h5>
            <img src= "https://images.saymedia-content.com/.image/t_share/MTc0MDY1NDE4ODEyNTMyMTY5/the-motherboard-components.jpg">
    </body>
</html>