<html>
    <head>
        <title>Computer Parts</title>
        <h1> Are You Ready To Shop For Computer Parts?</h1>
    </head>
    <body>
        <h2>View These Different Links To Shop For Parts</h2>
        <a href="https://www.newegg.com/">NewEgg</a>
        <a href="https://www.amazon.com/">Amazon</a>
        <a href="https://bestbuy.com">BestBuy</a>
        <a href="https://microcenter.com">Microcenter</a>
        <img src="https://c1.neweggimages.com/WebResource/Themes/logo_newegg_400400.png">
        <img src="https://i.pinimg.com/originals/01/ca/da/01cada77a0a7d326d85b7969fe26a728.jpg">
        <img src="https://cdn.freebiesupply.com/logos/large/2x/best-buy-logo-png-transparent.png">
        <img src="https://www.microcenter.com/images/home_page/bg.head01.gif">
    </body>
</html>